[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OptSurvCutR"]
	path = OptSurvCutR
	url = https://github.com/paytonyau/optsurvcutr
